{% extends "layout.twig" %}

{% block  content %}
<h1> Dashboard </h1>

<ul>
    <li> <a href="/curso-php/user/add" > Add User </a></li>
    <li> <a href="/curso-php/jobs/add"> Add Job </li>
    <li> <a href="/curso-php"> Perfil </li>
</ul>
<br><br>
    <li> <a href="/curso-php/logout"> Logout </li>

{% endblock %}